@import './global/base';
@import './global/extend';
@import './global/variables';
@import './global/mixins';
@import './components/main';
@import './components/side_bar';
@import './components/header';
@import './components/statistics_bar';
@import './components/aside';
@import './components/footer';

*{
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1366px;
  margin: 0 auto;
  font-family: $font-main;
  text-align: center;
  text-transform: capitalize;
  box-shadow: $box-shadow-block;
  background: #EBEBEB;
  .container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
}

.container-main {
  display: flex;
  justify-content: space-between;
  .main-block {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 10px;
    background: #EBEBEB;
  } 
}