@import './global/base';
@import './global/variables';
@import './global/mixins';
@import './components/side_bar';
@import './components/header';
@import './components/statistics_bar';
@import './components/aside';
@import './components/footer';

.wrapper {
  display: flex;
  max-width: $max-width-wrapper;
  margin: 0 auto;
  font-family: $font-main;
  text-align: center;
  text-transform: capitalize;
  background: lightgoldenrodyellow;
}

.container_main {
  display: flex;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #EBEBEB;
    padding: 20px;

  } 
}


.main__upper-axis {
  display: flex;
  margin-bottom: 20px;


  .block-diagram {
    margin-right: 20px;
    height: 266px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  .block_revenue {
    width: 264px;
    height: 266px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
}

.main__lower-axis {
  display: flex;
  justify-content: space-between;

  .block_feedback {
    width: 467px;
    height: 508px;
    margin-right: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .main__lower-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .block_task {
      width: 501px;
      height: 245px;
      background: white;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .main__lower-bottom {
      display: flex;
      justify-content: space-between;

      .block_progress {
        width: 241px;
        height: 245px;
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }

      .block_shipments {
        width: 241px;
        height: 245px;
        background: skyblue;
      }

    }

  }

}

.block-main__container {
  padding: 30px;
  
  .block-diagram__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      @include text(14px,#767676);
      font-weight: bold;
    }

    .block-diagram__time {
      display: flex;
      justify-content: space-between;
      width: 170px;

    }
  }
}

.block-diagram__period {
  display: flex;
  width: 130px;
  align-items: center;
  justify-content: space-between;
  @include text(12px,#BFBFBF);

  .period-month {
    height: 24px;
    width: 68px;
    color: white;
    padding-top: 5px;
    border-radius: 10px;
    background-image: $linear-gradient-right;

  }

}

.block-diagram__circle {
  margin: 2px 0 0 0;
}


.block-diagram__main {
  display: flex;
  padding: 30px 0 25px;

  .block-diagram__quantity {
    padding-right: 30px;
    @include text(12px,#BFBFBF);

    .four-hundred {
      padding-bottom: 30px;
    }
    .three-hundred {
      padding-bottom: 30px;
    }
    .two-hundred {
      padding-bottom: 30px;
    }
  }

  .block-diagram__diagram{
    position: relative;

    .hr-four {
      margin: 10px 0 40px;
    }
    .hr-three {
      margin: 0 0 42px;
    }
    .hr-two {
      margin: 0 0 40px;
    }
  }

  .block-diagram__img {
    position: absolute;
    top: 80px;
  }
}

.block-diagram__month {
  display: flex;
  justify-content: space-around;
  @include text(12px,#BFBFBF);
  padding-left: 55px;
}

hr {
  width: 571px;
  height: 1px;
  margin: 0;
  border: none;
  background: #EFEEEE;
}

.title-main {
  @include text(14px,#767676);
  padding-bottom: 30px;
  font-weight: bold;
  text-align: left;
}

.title-main_center {
  text-align: center;
}


.ellipse {
  width: 124px;
  height: 124px;
  border: 10px solid #B475E0;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 30px;

  .ellipse-price {
    font-size: 25px;
    font-weight: bold;
    color: #6359B0;
    border: 7px solid #EDEDED;
    border-radius: 50%;
    padding: 33px 15px;
  }
}

.stactics-trigon {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: $middle-text;
  color: $gray-text-small;

  .number-one {
    padding-right: 15px;
  }

}

.number-one::after {
  content: ''; 
  position: absolute;
  bottom: 1px;
  left: 65px;
  border: 3px solid transparent; 
  border-bottom: 6px solid #A889E9; 
}

.number-two::after {
content: ''; 
position: absolute;
bottom: 0px;
left: 102px;
border: 3px solid transparent; 
border-top: 6px solid #FD5670; 

}

// Section feedback
// ========================================================== //

.customers-feed {
  display: flex;
  @include text(8px,#979796);
}

.customers-feed__photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .customers-feed__img {
    height: 43px;
    width: 43px;
    margin-bottom: 13px;
    object-fit: cover;
  }

}
.customers-feed__text {
  margin-left: 20px;
}

.container-feed-text {
  padding: 20px;
  @include text(12px,#BFBFBF);
  text-transform: none;
  text-align: justify;
  line-height: 1.2;
  background: #FCFCFC;
  border: 1px solid #F1F1F1;

}

.feed-text-bold {
  font-weight: bold;
  color: #777777;
}

.sub-feed {
  display: flex;
  margin: 20px 0;
}

.sub-feed__line{
  height: 187px;
  width: 4px;
  margin-right: 13px;
  background: #F1F1F1;
}

.container-sub-feed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Section task
// ========================================================== //
.block_task {
  margin-bottom: 20px;
}


.title-main_task {
  padding: 0 0 20px;
}

.block-task__line {
  width: 441px;
  height: 2px;
}

.block-task__tick {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 2px solid #E2E2E2;
  margin: 10px 10px 10px 5px;

}

.block-task__tick_pink {
  background: #FD5471;
  border: none;
}

.block-task__tick-text {
  @include text(12px,#FD566F);
  font-weight: bold;

}

.block-task__text {
  @include text(12px,#BFBFBF);
  padding-left: 9px; 
}

.block-task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-task__time {
  display: flex;
  align-items: center;
}

.block-task__tick-container {
  display: flex;
  align-items: center;
}

// Section progress
// ========================================================== //

.cylinders {
  height: 88px;
  width: 11px;
  border-radius: 10px;
  border: 1px solid #F1F1F1;
  background: #F6F6F6;
  margin: 0px 4px;
}

.number-progress {
  @include text(20px,#747DDC);
  font-weight: bold;
}

.content_cylinders{
  display: flex;
  justify-content: center;
  padding-bottom: 23px;
}

.block-progress-number-one {
  padding-right: 15px;
}

.stactics-trigon--progress {
  padding-top: 10px;
}

.block-progress-number-one::after {
  content: ''; 
  position: absolute;
  bottom: 2px;
  left: 55px;
  border: 3px solid transparent; 
  border-bottom: 6px solid #A889E9; 
}

.block-progress-number-two::after {
content: ''; 
position: absolute;
bottom: 1px;
left: 90px;
border: 3px solid transparent; 
border-top: 6px solid #FD5670;

}

