@media (max-width: 1030px) {
  .sidebar {
    display: none;
  }
}

@media (min-width: 1030px) {
  .navigation {
    display: none;
  }

  .navigation__logo {
    display: none;
  }

  .gamburger {
    display: none;
  }

}

@media (max-width: 936px) {
  .container-main {
    flex-wrap: wrap;
  }
}

