@mixin title_tex{
  font-family: $font-main;
  font-weight: bold;
  text-transform: capitalize;
  color: #777777;
}


@mixin section_stactics_bar {
  .stactics_tab-title {
    font-size: 14px;
    color: #777777;
  }
  .tactics_tab-number {
    font-size: 20px;
    color: #FD7858;
  }

}
