@mixin title-text {
  font-family: $font-main;
  font-size: 14px;
  text-transform: capitalize;
  color: #777777;
}

@mixin small-sections-header {


}

@mixin section_stactics_bar {
  .stactics_tab-title {
    font-size: 14px;
    color: #777777;
  }
  .tactics_tab-number {
    font-size: 20px;
    color: #FD7858;
  }

}
