/* Font-sizes
===============================================*/
$small-text: 10px;
$middle-text: 12px;
$number-big: 20px;
$font-weight: bold;
$font-main: 'Lato', sans-serif;
$font-logo: 'Deftone Stylus', arial;

/* Colors
===============================================*/

$white: #ffffff;
$gray-text: #777777;
$gray-text-small: #BFBFBF;
$block_task-sudtitle: #FD566F;
$linear-gradient-bottom: linear-gradient(to bottom, #EA6D54, #FD5272);
$linear-gradient-right: linear-gradient(to right, #EA6D54, #FD5272);

/* Other
===============================================*/



/* block main 
===============================================*/
$title-font-sizes: 14px;
$title-color: #777777;



