/* Font-sizes
===============================================*/
$small-text: 10px;

$title-block-main


$font-main: 'Lato', sans-serif;
$font-logo: 'Deftone Stylus', arial;
$max-width-wrapper: 1366px;

/* Colors
===============================================*/

$white: #ffffff;
$gray_background: #E9E9E9;
$linear-gradient-bottom: linear-gradient(to bottom, #EA6D54, #FD5272);
$linear-gradient-right: linear-gradient(to right, #EA6D54, #FD5272);