.side-bar-right {
  flex: 0 0 270px;
  width: 270px;
  background: $background;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.side-bar__panel {
  display: flex;
  align-items: center;
  background-image: $linear-gradient-right;
  font-size: calc(1px + 0.9765vw);

  .side-bar__users {
    padding: 14px 2.06em;
  }

  .side-bar__chat {
    padding: 16px 2.25em;
  }

  .side-bar__like {
    padding: 17px 2.0625em 15px 2.25em;
  }
}

.side-bar-hover {
  position: relative;
}

.side-bar-hover:hover {
  background: #C34256;
}

.side-bar__users:hover::after {
  content: ''; 
  position: absolute;
  top: 47px;
  left: 35px;
  border: 10px solid transparent; 
  border-top: 10px solid #C34256; 
}

 .side-bar__chat:hover::after {
  content: ''; 
  position: absolute;
  top: 47px;
  left: 35px;
  border: 10px solid transparent; 
  border-top: 10px solid #C34256; 
}

 .side-bar__like:hover::after {
  content: ''; 
  position: absolute;
  top: 47px;
  left: 35px;
  border: 10px solid transparent; 
  border-top: 10px solid #C34256; 
}

.side-bar___container {
  display: flex;
  padding: 20px;
  .side-bar___users-photo {
    margin-right: 17px;
    @include size(42px,42px);
    object-fit: cover;
  }

  .side-bar___container-text {
    @extend %flex;
    width: 100%;
  }
}

.side-bar___container--ben-affleck {
  padding: 20px 20px 30px;
}

.side-bar__personal-information {
  text-align: left;
  line-height: 20px;
  .personal-information-name {
    @include text(13px,#777777);
    font-weight: bold;
  }

  .personal-information-profession {
    @include text(10px,#BFBFBF);
  }

  .icon-chat-img {
    @include size(20px,16px);
  }
}

.side-bar___line {
  margin: 0 20px;
  @include size(15.17vw,1px);
  background: #F1F1F1;
  border: none;
}

.line-search {
  margin: 0;
  @include size(17.65vw,1px);
  background: #F1F1F1;
  border: none;
}

.aside-search {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 13px;
  .aside-search__input {
    @include text(10px,#C0C0C0);
    width: 161px;
    border-style: none;
    border-bottom: 1px solid #E9E9E9;
    background: #FCFCFC;
  }
}