.header {
  @extend %flex;
  background: $background;
  border: 1px solid #F1F1F1;
}

.header__panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .header__col-more-option {
    @extend %flex;
    justify-content: center;
    @include size(33px,18px);
    margin: 25px 20px;
    border-radius: 10px;
    background-image: $linear-gradient-right;
    .circle {
      @include size(6px,6px);
      margin: 0 2px;
      border-radius: 50%;
      background: $background;
    }
  }   

  .col {
    margin: 0 20px;
  }
}

.header__serch-input {
  width: 300px;
  font-size: 12px;
  border: 1px solid #F1F1F1;
	background: #F8F8F8;
  border-radius: 10px;
}


.personal-information{
  margin: 0 20px;
  text-align: left;
  line-height: 20px;

  .personal-information__name {
    @include text(13px,#FD4E75);
    font-weight: bold;
  }
  
  .personal-information__profession {
    @include text(10px,#BFBFBF);
  }
}

.header__circle-gray {
  @extend %circle-gray;
  margin: 2px 20px 0;
}
