.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background;
  border: 1px solid #F1F1F1;

  .col_more-option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 33px;
    margin: 25px 20px;
    border-radius: 10px;
    background-image: $linear-gradient-right;
  
    .circle {
      height: 6px;
      width: 6px;
      margin: 0 1px;
      border-radius: 50%;
      background: $background;
    }   
  }

  .col {
    margin: 0 20px;
  }
}

.header_serch-input {
  width: 300px;
  font-size: 12px;
  border: 1px solid #F1F1F1;
	background: #F8F8F8;
  border-radius: 10px;
}

.header_panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.personal-information{
  text-align: left;
  line-height: 20px;

  .personal-information_name {
    @include text(13px,#FD4E75);
    font-weight: bold;
  }
  
  .personal-information_profession {
    @include text(10px,#BFBFBF);
  }
}

.header-circle-gray {
  @extend %circle-gray;
  margin: 2px 20px 0;
}
