.header {
  background: $white;
  height: 70px;
}

.more_option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 33px;
  margin: 25px 20px;
  border-radius: 10px;
  background-image: $linear-gradient-right;

  .circle {
    height: 6px;
    width: 6px;
    margin: 0 1px;
    border-radius: 50%;
    background: $white;
  }
  
}

.container {
  display: flex;
  align-items: center;
}

.img_header {
  color: red($color: #000000);
}

.header_folder {
  margin: 0 20px;
}

.header_settings {
  margin: 0 20px;
}

.serch_input {
  width: 300px;
  font-size: 12px;
  border: 1px solid #F1F1F1;
	background: #F8F8F8;
  border-radius: 10px;
}
