.stactics-tab {
  max-width: 1300px;
  text-align: left;
  background: $background;
  border: 1px solid #F1F1F1;
}

.stactics-tab__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px 60px;
}

.stactics-tab__statistics {
  display: flex;
}

.stactics-tab__title {
  @include text(12px,$gray-text);
  padding-bottom: 5px;
}

.stactics-tab__number {
  font-size: $number-big;
  font-weight: bold;
  color: #FD4F74;
  padding-bottom: 5px;
}

.stactics-tab__statistics {
  font-size: $middle-text;
  color: $gray-text-small;
}

.number-left {
  padding-left: 8px;
}

.number-right {
  padding-left: 16px;
}

.stactics-tab__statistics {
  position: relative;
}


.number-left::after {
  content: ''; 
  position: absolute;
  bottom: 2px;
  left: 0px;
  border: 3px solid transparent; 
  border-bottom: 6px solid #A889E9; 
 }

 .number-right::after {
  content: ''; 
  position: absolute;
  bottom: 1px;
  left: 35px;
  border: 3px solid transparent; 
  border-top: 6px solid #FD5670; 
 }

 .add-stactics {
  font-size: $middle-text;
  font-weight: bold;
  color: #FD4F74;
 }
 

